.container {
    min-height: 100vh;
    width: 100vw;
    background: white;
}

.hHome {
    min-height: 100vh; width: 100vw;
    color: black;
    animation: go-back 1s infinite;
    background-color: yellow;
}

.hHome:hover {
    animation: none;
}

.conteudos-home {
    background-color: green;
    min-height: 100vh; width: 100vw;
    color: black;
}

@keyframes go-back {
    0% {
        transform: translateX(10px);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(10px);
    }
}